{% extends "imp_base.html" %}
{% load static %}
{% load mptt_tags %}
{% block script %}
<!-- Libs -->
	<link rel="stylesheet" href="{% static "assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" %}">
	<link rel="stylesheet" href="{% static "assets/vendor/libs/bootstrap-table/bootstrap-table.css" %}">
	<!-- Page -->
        {% endblock %}


{% block content %}
			<!-- Layout content -->
			<div class="container flex-grow-1 container-p-y">

				<h4 class="font-weight-light py-3 mb-4">
					<span class="text-muted">Обращения</span>
				</h4>

				<div id="bootstrap-table-toolbar">
					<!-- <button id="bootstrap-table-order" class="bootstrap-table-order btn btn-my-color text-white" disabled>
						Перевести в заказ
					</button> -->
				</div>

				<table id="bootstrap-table-example" class="table-appeal" data-toolbar="#bootstrap-table-toolbar" data-search="true" data-detail-view="false" data-minimum-count-columns="2" data-pagination="true" data-id-field="id" data-show-footer="false">
					<thead>
					<tr>
						<!-- <th>
							<input name="btSelectAll" type="checkbox">
						</th> -->
						<th data-sortable="true" data-field="id">ID</th>
						<th data-sortable="true">Имя</th>
						<th data-sortable="true">Фамилия</th>
						<th data-sortable="true">Телефон</th>
						<th data-sortable="true">Почта</th>
						<th data-sortable="true">Заказ</th>
						<th data-sortable="true">Дата обращения</th>
						<th data-sortable="true">Тип обращения</th>
						<th data-sortable="true">Статус</th>
						<th data-sortable="true">Действие</th>
					</tr>
					</thead>
					<tbody>
						{% for appeal in appeals %} <tr data-index="{{ forloop.counter }}">
							<!-- <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox" value="0"></td> -->
							<td><a href="{% url 'appeal_info' appeal.id %}" >{{ appeal.user.id }}</a></td>
							<td>{{ appeal.user.first_name }}</td>
							<td>{{ appeal.user.last_name }}</td>
							<td>{{ appeal.user.useraccept.phone_number }}</td>
							<td>{{ appeal.user.email }}</td>
							<td><a href="{% url 'appeal_info' appeal.id %}" >{% recursetree appeal.rubricator.get_ancestors %} {{ node.name }} {{ children }} 
											{% endrecursetree %} {{ appeal.rubricator }}</a></td>
							<td>{{ appeal.date_create }}</td>
							<td>
								<div>Виджет</div>
							</td>
							{% if appeal.accept == True %} 
							<td>
								<div><a href="{% url 'appeal_info' appeal.id %}" class="text-secondary"><button type="button" class="btn btn-xs btn-success">Заказ</button></a></div>
							</td>
{% elif appeal.failure == True %}
<td>
								<div><a href="{% url 'appeal_info' appeal.id %}" class="text-secondary"><button type="button" class="btn btn-xs btn-danger">Отказ</button></a></div>
							</td>
{% else %}
<td>
								<div><a href="{% url 'appeal_info' appeal.id %}" class="text-secondary"><button type="button" class="btn btn-xs btn-primary">Переговоры</button></a></div>
							</td>
{% endif %}
							
							<td class="text-center">
								<a href="{% url 'appeal_accept' appeal.id %}" class="text-secondary"><i class="icon ion-md-cart"></i></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>



{% block script2 %}

<script src="{% static "assets/vendor/libs/tableexport/tableexport.js" %}"></script>
<script src="{% static "assets/vendor/libs/moment/moment.js" %}"></script>
<link rel="stylesheet" href="{% static "assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css" %}">
<script src="{% static "assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js" %}"></script>

<script src="{% static "assets/vendor/libs/bootstrap-table/bootstrap-table.js" %}"></script>
<script src="{% static "assets/vendor/libs/bootstrap-table/extensions/export/export.js" %}"></script>
<script src="{% static "assets/js/tables_bootstrap-table.js" %}"></script>{% endblock %}
{% endblock %}
