{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Писать тут -->




   <!--  <a href="#" data-target="slide-out2" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
          





<div class="content_wrap">

	<div class="nav_block">
		<h4>Исполнители</h4>
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#">Исполнители</a></li>
		</ul>
	</div>



 

 



<div class="wrap_for_mobile_block2">

	<div class="wrap_mobile_block2">
		<a href="#" class="nav_block_2">
			<img src="{% static "./images/arrow_left.png" %}"  alt="">
			 	<h3>Сделано.Ру</h3>
		</a>
		<a href="#" class="mobile_nav_dots"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
	</div>

</div>	








	<div class="search_catalog2">
		<form action="" class="select_type">
			<div class="form_select">
				<select name="catalog" >
				<option value="">Поиск по типу ремонта</option>
				<option value="">Квадрим</option>
				<option value="">Сделано</option>
				</select>
			</div>
		</form>
	</div>



	<div class="wrap_ispolniteli_for_mobile">
		<div class="card_for_mobile">
			<div class="for_img">
				<!-- <img src="{% static "./images/kvadrim.png" %}"  alt=""> -->
				<img src="{% static "./images/fixremont.png" %}"  alt="">
			</div>
			<div class="txt">
				<h3>ФиксРемонт</h3>
				<h4>Заказов: 12</h4>
				<div class="rating_block">
					<fieldset class="rating">
					    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
					    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
					    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
					    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
					    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
					    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
					    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
					</fieldset>
				</div>
			</div>
		</div>
		</div>


	
	<div class="wrap_card">

		<div class="card">
			

				<div class="rating_block">
					<fieldset class="rating">
					    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
					    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
					    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
					    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
					    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
					    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
					    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
					</fieldset>
				</div>

				<div class="block_center">
					<img src="{% static "./images/kvadrim.png" %}"  alt="">
				</div>

				<div class="text">
					<h3>Квадрим </h3>
					<h4>Ремонт “все включено”, Ремонт санузлов</h4>
					<ul>
						<li>Заказов: 12</li>
						<li>Регион: Москва</li>
					</ul>
				</div>

			
		</div>


		<div class="card">
			
				<div class="rating_block">
					<fieldset class="rating">
					    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
					    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
					    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
					    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
					    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
					    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
					    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
					</fieldset>
				</div>


				<div class="block_center">
					<img src="{% static "./images/sdelano.png" %}"  alt="">
				</div>

				<div class="text">
					<h3>Сделано.Ру </h3>
					<h4>Ремонт “все включено”</h4>
					<ul>
						<li>Заказов: 12</li>
						<li>Регион: Москва</li>
					</ul>
				</div>
			
		</div>

		<div class="card">
			
				<div class="rating_block">		
					<fieldset class="rating">
					    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
					    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
					    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
					    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
					    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
					    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
					    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
					</fieldset>
				</div>

				<div class="block_center">
					<img src="{% static "./images/fixremont.png" %}"  alt="">
				</div>

				<div class="text">
					<h3>ФиксРемонт </h3>
					<h4>Ремонт “все включено”, Ремонт санузлов</h4>
					<ul>
						<li>Заказов: 12</li>
						<li>Регион: Москва</li>
					</ul>
				</div>
		</div>


		<div class="card">
			
				<div class="rating_block">		
					<fieldset class="rating">
					    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
					    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
					    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
					    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
					    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
					    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
					    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
					</fieldset>
				</div>

				<div class="block_center">
					<img src="{% static "./images/fixremont.png" %}"  alt="">
				</div>

				<div class="text">
					<h3>ФиксРемонт </h3>
					<h4>Ремонт “все включено”, Ремонт санузлов</h4>
					<ul>
						<li>Заказов: 12</li>
						<li>Регион: Москва</li>
					</ul>
				</div>
		</div>


		<div class="card">
			
				<div class="rating_block">		
					<fieldset class="rating">
					    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
					    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
					    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
					    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
					    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
					    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
					    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
					</fieldset>
				</div>

				<div class="block_center">
					<img src="{% static "./images/fixremont.png" %}"  alt="">
				</div>

				<div class="text">
					<h3>ФиксРемонт </h3>
					<h4>Ремонт “все включено”, Ремонт санузлов</h4>
					<ul>
						<li>Заказов: 12</li>
						<li>Регион: Москва</li>
					</ul>
				</div>
		</div>

		<div class="card">
			
				<div class="rating_block">
					<fieldset class="rating">
					    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
					    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
					    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
					    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
					    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
					    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
					    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
					</fieldset>
				</div>

				<div class="block_center">
					<img src="{% static "./images/kvadrim.png" %}"  alt="">
				</div>

				<div class="text">
					<h3>Квадрим </h3>
					<h4>Ремонт “все включено”, Ремонт санузлов</h4>
					<ul>
						<li>Заказов: 12</li>
						<li>Регион: Москва</li>
					</ul>
				</div>

			
		</div>


		<div class="card">
			
				<div class="rating_block">
					<fieldset class="rating">
					    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
					    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
					    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
					    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
					    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
					    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
					    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
					</fieldset>
				</div>


				<div class="block_center">
					<img src="{% static "./images/sdelano.png" %}"  alt="">
				</div>

				<div class="text">
					<h3>Сделано.Ру </h3>
					<h4>Ремонт “все включено”</h4>
					<ul>
						<li>Заказов: 12</li>
						<li>Регион: Москва</li>
					</ul>
				</div>
			
		</div>


	</div><!-- end wrap_card -->



	<div class="wrap_load_more">
		<a href="#" class="load_more">Загрузить еще</a>
	</div>



	

</div>





{% endblock %}