{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Писать тут -->




       






<div class="content_wrap">

	<div class="nav_block">
		<h4>Каталог ремонтов</h4>
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#">Каталог ремонтов</a></li>
		</ul>
	</div>



<div class="wrap_for_mobile_block2">

	<div class="wrap_mobile_block2">
		<a href="#" class="nav_block_2">
			<img src="{% static "./images/arrow_left.png" %}"  alt="">
			 	<h3>Каталог ремонтов</h3>
		</a>
		<a href="#" class="mobile_nav_dots"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
	</div>

</div>




		<p class="top_descr">
			Укажите тип помещения при помощи рубрикатора. Выбирайте ремонт квартиры или указывайте одно помещение. 
			В результатах поиска представлены предложения компаний с рейтингом и количеством сделок. 
		</p>





		<div class="choise_wrap choise_none">

			<a href="#" class="for_choise">
				<div class="card">
				<img src="{% static "./images/choise_1.jpg" %}"  alt="">
					<div class="forp">
						<p>Ремонт квартир <br> “все включено”</p>
					</div>
				</div>
			</a>

			<a href="#" class="for_choise">
				<div class="card">
				<img src="{% static "./images/choise_2.jpg" %}"  alt="">
					<div class="forp">
						<p>Ремонт по одной <br> комнате</p>
					</div>
				</div>
			</a>

			<a href="#" class="for_choise">
				<div class="card">
				<img src="{% static "./images/choise_3.jpg" %}"  alt="">
					<div class="forp">
						<p>Ремонт кухни</p>
					</div>
				</div>
			</a>

			<a href="#" class="for_choise">
				<div class="card">
				<img src="{% static "./images/choise_4.jpg" %}"  alt="">
					<div class="forp">
						<p>Ремонт ванной <br> комнаты и туалета</p>
					</div>
				</div>
			</a>
			
		</div><!-- end choise_wrap -->

	
	



<div class="search_catalog3">
		<form action="" class="select_type">
			<div class="form_select">
				<select name="catalog" >
				<option value="">Фильтрация по рейтингу</option>
				<option value="">1</option>
				<option value="">2</option>
				<option value="">3</option>
				<option value="">4</option>
				<option value="">5</option>
				</select>
			</div>
		</form>
	</div>




	<div class="wrap_two_buttons">
		<div class="wrap_buttons">
			<a href="#" class="norm">Ремонт квартир <br>“все включено”</a>
			<a href="#" class="inv">Ремонт по одной <br> комнате</a>
		</div>
	</div>




	<div class="offers_company">
		<!-- <h3>Предложения компании</h3> -->


			<a href="#" class="for_mobile">
				<div class="card_mobile">
					<img src="{% static "./images/remont.jpg" %}"  alt="">
					<div class="text">
						<h3>Сделано.Ру</h3>
						<h4>Ремонт по одной комнате</h4>
						<div class="rating_block">
								<fieldset class="rating">
								    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
								    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
								    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
								    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
								    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
								    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
								    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
								    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
								    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
								</fieldset>
						</div>
						<!-- <br> -->
						<p class="price">от 15 000 ₽/М2</p>
					</div>
				</div>
			</a>


			<a href="#" class="for_mobile">
				<div class="card_mobile">
					<img src="{% static "./images/remont.jpg" %}"  alt="">
					<div class="text">
						<h3>Сделано.Ру</h3>
						<h4>Ремонт по одной комнате</h4>
						<div class="rating_block">
								<fieldset class="rating">
								    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
								    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
								    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
								    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
								    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
								    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
								    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
								    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
								    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
								</fieldset>
						</div>
						<!-- <br> -->
						<p class="price">от 15 000 ₽/М2</p>
					</div>
				</div>
			</a>



			








		<div class="offers_company_cards">




			<a href="#">
				<div class="card">

					<div class="img_block">
						<div class="rating_block">
								<fieldset class="rating">
								    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
								    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
								    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
								    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
								    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
								    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
								    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
								    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
								    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
								</fieldset>
						</div>
						<img class="snow" src="{% static "./images/snow.png" %}"  alt="">
						<img src="{% static "./images/offers_1.jpg" %}"  alt="">
						
					</div>

					<div class="text_block">


						<h4>Сделано.Ру</h4>
						<h5>Ремонт по одной комнате</h5>

						<div class="info">
							<ul>
								<li>Заказов: 12</li>
								<li>Регион: Москва</li>
							</ul>

						<div class="price">
							<h6>от 5 000 ₽/М <sup>2</sup></h6>
						</div>

						</div>


					</div>

				</div>
			</a>

			<a href="#">
				<div class="card">

					<div class="img_block">
						<div class="rating_block">
								<fieldset class="rating">
								    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
								    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
								    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
								    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
								    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
								    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
								    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
								    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
								    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
								</fieldset>
						</div>
						<img src="{% static "./images/offers_2.jpg" %}"  alt="">
					</div>

					<div class="text_block">

						<h4>Сделано.Ру</h4>
						<h5>Ремонт по одной комнате</h5>

						<div class="info">
							<ul>
								<li>Заказов: 12</li>
								<li>Регион: Москва</li>
							</ul>

						<div class="price">
							<h6>от 15 000 ₽/М <sup>2</sup></h6>
						</div>

						</div>


					</div>

				</div>
			</a>

			<a href="#">
				<div class="card">

					<div class="img_block">
						<div class="rating_block">
								<fieldset class="rating">
								    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
								    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
								    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
								    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
								    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
								    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
								    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
								    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
								    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
								</fieldset>
						</div>
						<img src="{% static "./images/offers_3.jpg" %}"  alt="">
					</div>

					<div class="text_block">

						<h4>Сделано.Ру</h4>
						<h5>Ремонт по одной комнате</h5>

						<div class="info">
							<ul>
								<li>Заказов: 12</li>
								<li>Регион: Москва</li>
							</ul>

						<div class="price">
							<h6>от 9 900 ₽/М <sup>2</sup></h6>
						</div>

						</div>


					</div>

				</div>
			</a>





		</div>
	</div> <!-- end offers_company -->


	<div class="wrap_load_more">
		<a href="#" class="load_more">Загрузить еще</a>
	</div>








	


	

</div>








{% endblock %}