{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Писать тут -->




        





<div class="content_wrap">

	<div class="nav_block">
		<h4>Сделано.Ру</h4>
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#">Исполнители</a></li>
			<li><a href="#">Cделано.Ру</a></li>
		</ul>
	</div>




	
	
	<div class="wrap_mobile_block">
	<a href="#" class="nav_block_mobile">
			<img src="{% static "./images/arrow_left.png" %}"  alt="">
		 <h3>Сделано.Ру</h3>
		</a>
	</div>





	
	<div class="wrap_card_company">





		<div class="wrap_card_for_mobile">
		<div class="card_for_mobile">
			<div class="for_img">
				<!-- <img src="{% static "./images/kvadrim.png" %}"  alt=""> -->
				<img src="{% static "./images/fixremont.png" %}"  alt="">
			</div>
			<div class="txt">
				<h3>ФиксРемонт</h3>
				<h4>Заказов: 12</h4>
				<div class="rating_block">
					<fieldset class="rating">
					    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
					    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
					    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
					    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
					    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
					    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
					    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
					</fieldset>
				</div>
			</div>
		</div>
		</div>









		<div class="about_company">
			<h3>О компании</h3>



				<table class="highlight">
					<tbody>
				    <tr>
				       <td class="for_left">Название</td> <td class="for_right">Сделано.Ру</td>
				    </tr>
				    <tr>
				        <td class="for_left">Юридическое лицо</td> <td class="for_right">ООО “Сделано.Ру”</td>
				    </tr>
				    <tr>
				       <td class="for_left">ОГРН / ИНН</td> <td class="for_right">42423345345 / 364645645645</td>
				    </tr>
				    <tr>
				        <td class="for_left">Сайт</td> <td class="for_right">sdelano.ru</td>
				    </tr>
				    <tr>
				        <td class="for_left">Телефон</td> <td class="for_right">+7(495) 123-45-67</td>
				    </tr>
					</tbody>
				</table>

			<p>
				Тариф “Ремонт ванной комнаты эконом” - базовое предложение компании ФиксРемонт для небольших ванных комнат и совмещенных санузлов. В тариф включены все демонтажные работы, сантехника эконом класса, полипропиленовые трубы.
			</p>


		</div>



		<div class="card">
				<div class="rating_block">
					<fieldset class="rating">
					    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
					    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
					    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
					    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
					    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
					    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
					    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
					</fieldset>
				</div>

				<div class="block_center">
					<img src="{% static "./images/kvadrim.png" %}"  alt="">
				</div>

				<div class="text">
					<h3>Квадрим </h3>
					<h4>Ремонт “все включено”, Ремонт санузлов</h4>
					<ul>
						<li>Заказов: 12</li>
						<li>Регион: Москва</li>
					</ul>
				</div>

		</div>



		


	</div><!-- end wrap_card -->







	<div class="offers_company">
		<h3>Предложения компании</h3>


			<a href="#" class="for_mobile">
				<div class="card_mobile">
					<img src="{% static "./images/remont.jpg" %}"  alt="">
					<div class="text">
						<h3>Сделано.Ру</h3>
						<h4>Ремонт по одной комнате</h4>
						<div class="rating_block">
								<fieldset class="rating">
								    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
								    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
								    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
								    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
								    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
								    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
								    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
								    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
								    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
								</fieldset>
						</div>
						<!-- <br> -->
						<p class="price">от 15 000 ₽/М2</p>
					</div>
				</div>
			</a>


			<a href="#" class="for_mobile">
				<div class="card_mobile">
					<img src="{% static "./images/remont.jpg" %}"  alt="">
					<div class="text">
						<h3>Сделано.Ру</h3>
						<h4>Ремонт по одной комнате</h4>
						<div class="rating_block">
								<fieldset class="rating">
								    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
								    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
								    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
								    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
								    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
								    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
								    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
								    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
								    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
								</fieldset>
						</div>
						<!-- <br> -->
						<p class="price">от 15 000 ₽/М2</p>
					</div>
				</div>
			</a>



			<div class="wrap_more">
				<div class="more">
					<a href="#" class="show_more">Показать все - 16</a>
				</div>
			</div>








		<div class="offers_company_cards">



			<a href="#">
				<div class="card">

					<div class="img_block">
						<div class="rating_block">
								<fieldset class="rating">
								    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
								    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
								    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
								    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
								    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
								    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
								    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
								    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
								    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
								</fieldset>
						</div>
						<img src="{% static "./images/offers_1.jpg" %}"  alt="">
					</div>

					<div class="text_block">

						<h4>Сделано.Ру</h4>
						<h5>Ремонт по одной комнате</h5>

						<div class="info">
							<ul>
								<li>Заказов: 12</li>
								<li>Регион: Москва</li>
							</ul>

						<div class="price">
							<h6>от 5 000 ₽/М <sup>2</sup></h6>
						</div>

						</div>


					</div>

				</div>
			</a>

			<a href="#">
				<div class="card">

					<div class="img_block">
						<div class="rating_block">
								<fieldset class="rating">
								    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
								    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
								    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
								    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
								    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
								    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
								    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
								    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
								    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
								</fieldset>
						</div>
						<img src="{% static "./images/offers_2.jpg" %}"  alt="">
					</div>

					<div class="text_block">

						<h4>Сделано.Ру</h4>
						<h5>Ремонт по одной комнате</h5>

						<div class="info">
							<ul>
								<li>Заказов: 12</li>
								<li>Регион: Москва</li>
							</ul>

						<div class="price">
							<h6>от 15 000 ₽/М <sup>2</sup></h6>
						</div>

						</div>


					</div>

				</div>
			</a>

			<a href="#">
				<div class="card">

					<div class="img_block">
						<div class="rating_block">
								<fieldset class="rating">
								    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
								    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
								    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
								    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
								    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
								    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
								    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
								    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
								    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
								</fieldset>
						</div>
						<img src="{% static "./images/offers_3.jpg" %}"  alt="">
					</div>

					<div class="text_block">

						<h4>Сделано.Ру</h4>
						<h5>Ремонт по одной комнате</h5>

						<div class="info">
							<ul>
								<li>Заказов: 12</li>
								<li>Регион: Москва</li>
							</ul>

						<div class="price">
							<h6>от 9 900 ₽/М <sup>2</sup></h6>
						</div>

						</div>


					</div>

				</div>
			</a>





		</div>
	</div> <!-- end offers_company -->








	<div class="zavershennie_projects">
		<h3>Завершенные проекты</h3>




		<div class="projects">
			<h4>2321123. Ремонт по одной комнате. Октябрь 2018.</h4>
			<div class="rating_block">
							<fieldset class="rating">
							    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
							    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
							    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
							    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
							    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
							    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
							    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
							    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
							    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
							    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
							</fieldset>
			</div>

			<div class="clearfix"></div>


 

			<div class="gallery_block">
<a data-fancybox="gallery" class="first_gal" href="{% static "./images/gallery/r1.jpg" %}"><img src="{% static "./images/gallery/r1.jpg" %}"></a>
<a data-fancybox="gallery" class="first_gal" href="{% static "./images/gallery/2_big.jpg" %}"><img class="hide_pic" src="{% static "./images/gallery/2.jpg" %}"></a>
<a data-fancybox="gallery" class="first_gal" href="{% static "./images/gallery/3_big.jpg" %}"><img class="hide_pic" src="{% static "./images/gallery/3.jpg" %}"></a>
<a data-fancybox="gallery" class="first_gal" href="{% static "./images/gallery/4_big.jpg" %}"></a>
<a data-fancybox="gallery" class="first_gal" href="{% static "./images/gallery/5_big.jpg" %}"></a>
<a data-fancybox="gallery" class="first_gal" href="{% static "./images/gallery/6_big.jpg" %}"></a>
<a data-fancybox="gallery" class="first_gal" href="{% static "./images/gallery/7_big.jpg" %}"></a>
<a data-fancybox="gallery" class="first_gal" href="{% static "./images/gallery/8_big.jpg" %}"></a>

<a  data-fancybox="gallery" class="more_photos" href="{% static "./images/gallery/5_big.jpg" %}">
   	<p> Всего фотографий: 12</p>
</a>


			</div>
			<div class="clearfix"></div>
			
			<div class="text">
				<p>В глобальном рейтинге стран по уровню безработицы наша страна занимает лишь 22-е место в мире. В целом по этому показателю Россию опережают развитые страны Европы и Азии, США, отмечается в обзоре Национального агентства финансовых исследований (есть в распоряжении «Газеты.Ru»).</p>

				<p>Согласно данным Росстата за первое полугодие этого года, в России трудоспособное население, не имеющее работу, составляет 4,7%. У Таиланда, который занимает первое место в этом рейтинге, безработица всего 1%. В Объединенных Арабских Эмиратах (ОАЭ) — 1,7%, во Вьетнаме — 2%.
				</p>
			</div>

			<div class="author">
				<img src="{% static "./images/avatar.png" %}"  alt="">
				<p>Андрей П., 12 октября 2018 г.</p>
			</div>
		</div> <!-- end projects -->



		<div class="projects">
			<h4>2321123. Ремонт по одной комнате. Октябрь 2018.</h4>
			<div class="rating_block">
							<fieldset class="rating">
							    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
							    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
							    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
							    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
							    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
							    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
							    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
							    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
							    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
							    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
							</fieldset>
			</div>

			<div class="clearfix"></div>




			<div class="gallery_block">
<a data-fancybox="gallery2" href="{% static "./images/gallery/r2.jpg" %}"><img src="{% static "./images/gallery/r2.jpg" %}"></a>
<a data-fancybox="gallery2" href="{% static "./images/gallery/2_big.jpg" %}"><img class="hide_pic" src="{% static "./images/gallery/2.jpg" %}"></a>
<a data-fancybox="gallery2" href="{% static "./images/gallery/3_big.jpg" %}"><img class="hide_pic" src="{% static "./images/gallery/3.jpg" %}"></a>
<a data-fancybox="gallery2" href="{% static "./images/gallery/4_big.jpg" %}"></a>
<a data-fancybox="gallery2" href="{% static "./images/gallery/5_big.jpg" %}"></a>
<a data-fancybox="gallery2" href="{% static "./images/gallery/6_big.jpg" %}"></a>
<a data-fancybox="gallery2" href="{% static "./images/gallery/7_big.jpg" %}"></a>
<a data-fancybox="gallery2" href="{% static "./images/gallery/8_big.jpg" %}"></a>

<a  data-fancybox="gallery2" class="more_photos" href="{% static "./images/gallery/8_big.jpg" %}">
   	<p> Всего фотографий: 8</p>
</a>


<!-- <a data-fancybox="gallery" href="big_2.jpg"><img src="small_2.jpg"></a> -->
			</div>
			<div class="clearfix"></div>
			
			<div class="text">
				<p>Полиция официально подтвердила гибель всех пяти людей, находившихся на борту воздушного судна: миллионера Вичая Шриваддханапрабхи, двух его сотрудников Нурсары Сукнамай и Кавепорна Пунпарэ (Kaveporn Punpare), пилота Эрика Сваффера (Eric Swaffer) и пилота-инструктора и его девушки Изабелы Розы Лечович (Izabela Roza Lechowicz).</p>

				<p>Вертолет разбился 27 октября сразу после матча Английской премьер-лиги «Лестер» — «Вест Хэм». Свидетели происшествия утверждают, что воздушное судно по традиции поднялось в воздух прямо с футбольного поля. Через несколько мгновений по неустановленной причине пилот потерял контроль над управлением, вертолет начал бесконтрольно крутиться вокруг своей оси и упал на автомобильную парковку, расположенную неподалеку от стадиона King Power.
				</p>
			</div>

			<div class="author">
				<img src="{% static "./images/avatar.png" %}"  alt="">
				<p>Андрей П., 12 октября 2018 г.</p>
			</div>
		</div> <!-- end projects -->
		





	</div> <!-- end zavershennie_projects -->


	

</div>








{% endblock %}