{% extends "imp_base.html" %}
{% load static %}
 {% block script %}
<!-- Libs -->
	<link rel="stylesheet" href="{% static "assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" %}">
	<link rel="stylesheet" href="{% static "assets/vendor/libs/typeahead-js/typeahead.css" %}">
	<!-- Page -->
	<link rel="stylesheet" href="{% static "assets/vendor/css/pages/users.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
        {% endblock %}


{% block content %}
{% csrf_token %}
			<!-- Layout content -->
			<div class="layout-content">

				<!-- Content -->
				<div class="container flex-grow-1 container-p-y">

					<div class="media align-items-center py-3 mb-3">
						{% if user.useraccept.avatar %}<img src="{{ user.useraccept.avatar.url }}" alt="" class="d-block ui-w-100 rounded-circle">{% else %}{% endif %}
						<div class="media-body ml-4">
							<h4 class="font-weight-bold mb-0">{{ user.last_name }} {{ user.first_name }} <span class="text-muted font-weight-normal">{{ user.email }}</span></h4>
							<div class="text-muted mb-2">ID: {{ user.id }}</div>
							<a href="{% url 'edit_employee' user.id %}" class="btn btn-my-color text-white btn-sm">Редактировать</a>&nbsp;
						</div>
					</div>

					<div class="card mb-4">
						<div class="card-body">
							<table class="table user-view-table m-0">
								<tbody>
								<tr>
									<td>Зарегистрирован:</td>
									<td>{{ user.date_joined }}</td>
								</tr>
								<tr>
									<td>Активность:</td>
									<td>{{ user.last_login }}</td>
								</tr>
								<tr>
									<td>Роль:</td>
									<td>{{ user.useraccept.position }}</td>
								</tr>
								<tr>
									<td>Рейтинг:</td>
									<td>
										{% if user.useraccept.rating == 5 %} 
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								{% elif user.useraccept.rating == 4 %}
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								{% elif user.useraccept.rating == 3 %}
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								{% elif user.useraccept.rating == 2 %}
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								{% else %}
								<i class="ion ion-md-star text-warning"></i>
{% endif %}
									</td>
								</tr>
								</tbody>
							</table>
						</div>

					</div>

					<div class="card">
						<div class="row no-gutters row-bordered">
							<div class="d-flex col-md align-items-center">
								<a href="javascript:void(0)" class="card-body d-block text-dark">
									<div class="text-muted small line-height-1">Проекты в работе</div>
									<div class="text-xlarge">125</div>
								</a>
							</div>
							<div class="d-flex col-md align-items-center">
								<a href="javascript:void(0)" class="card-body d-block text-dark">
									<div class="text-muted small line-height-1">Завершенные проекты
									</div>
									<div class="text-xlarge">534</div>
								</a>
							</div>
							<div class="d-flex col-md align-items-center">
								<a href="javascript:void(0)" class="card-body d-block text-dark">
									<div class="text-muted small line-height-1">Всего проектов</div>
									<div class="text-xlarge">236</div>
								</a>
							</div>
						</div>
						<hr class="border-light m-0">
						<div class="card-body">

							<table class="table user-view-table m-0">
								<tbody>
								<tr>
									<td>Имя:</td>
									<td>{{ user.first_name }}</td>
								</tr>
								<tr>
									<td>Фамилия:</td>
									<td>{{ user.last_name }} </td>
								</tr>
								<tr>
									<td>E-mail:</td>
									<td>{{ user.email }}</td>
								</tr>
								</tbody>
							</table>
{% if user.useraccept.social_net %} 

							<h6 class="mt-4 mb-3">Социальные сети</h6>

							<table class="table user-view-table m-0">
								<tbody>
								<tr>
									<td>Instagram:</td>
									<td><a href="{{ user.useraccept.social_net }}">{{ user.useraccept.social_net }}</a></td>
								</tr>
								</tbody>
							</table>
{% endif %}
							<h6 class="mt-4 mb-3">Личные данные</h6>

							<table class="table user-view-table m-0">
								<tbody>
								<tr>
									<td>День рождения:</td>
									<td>{{ user.useraccept.date_birth }}</td>
								</tr>
								<tr>
									<td>Гражданство:</td>
									<td>{{ user.useraccept.get_gov_display }}</td>
								</tr>
								</tbody>
							</table>

							<h6 class="mt-4 mb-3">Контакты
							</h6>

							<table class="table user-view-table m-0">
								<tbody>
								<tr>
									<td>Телефон:</td>
									<td>{{ user.useraccept.phone_number }}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

				


{% block script2 %}
<script src="{% static "assets/vendor/libs/typeahead-js/typeahead.js" %}"></script>{% endblock %}
{% endblock %}
