<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Title</title>

    <link rel="stylesheet" href="./css/styles.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#da532c">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div id="app" class="container">
    
  <ul class="list-unstyled" style="margin-top: 32px;">
    
      <li><a href="/user_index.html" target="_blank">Юзер. Главная</a></li>
    
      <li><a href="/no-user_index.html" target="_blank">Не авторизован. Главная</a></li>
    
      <li><a href="/register.html" target="_blank">Регистрация</a></li>
    
      <li><a href="/register_end.html" target="_blank">Регистрация закончена</a></li>
    
      <li><a href="/login.html" target="_blank">Логин</a></li>
    
      <li><a href="/repair_request.html" target="_blank">Восстановление пароля</a></li>
    
      <li><a href="/repair_result.html" target="_blank">Восстановление пароля. Результат</a></li>
    
      <li><a href="/contractor-table.html" target="_blank">Исполнители. Таблица</a></li>
    
      <li><a href="/catalog.html" target="_blank">Каталог ремонтов</a></li>
    
      <li><a href="/ui.html" target="_blank">UI</a></li>
    
  </ul>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./js/scripts.js"></script>
</body>
</html>
