{% extends "base.html" %}
{% block content %}
<main>
    <div class="page-inner page-inner--cabinet">
      


<header>
  <h3 class="inner-title">Таблица список заказов</h3>
</header>

<div class="c-breadcrumb">
  <ul class="c-breadcrumb__list list-unstyled">
    
    <li class="c-breadcrumb__item">
      <a href="/" class="c-breadcrumb__link">
        Главная
      </a>
    </li>
    
    <li class="c-breadcrumb__item">
      <a href="/" class="c-breadcrumb__link">
        Таблица список заказов
      </a>
    </li>
    
  </ul>
</div>



<a href="/" class="mobile-navigate">
  <svg width="16" height="16">
    <use href="./images/fill.svg#arrow-left"></use>
  </svg>
  <span class="mobile-navigate__text">Заказы</span>
</a>

<div class="mt-double">
  


<table class="contractor-table striped">
  <thead>
    <tr>
      
      <th>ID</th>
      
      <th>Рубрикатор</th>
      
      <th>Клиент</th>
      
      <th>Исполнитель</th>
      
      <th>Стоимость</th>
      
      <th>Статус</th>
      
      <th>Действие</th>
      
    </tr>
  </thead>
  <tbody>
    
    
    
  </tbody>
</table>

</div>


    </div>
  </main>
  {% endblock %}