<!DOCTYPE html>

<html class="material-style">

<head>
	<title>Login v2 - Pages - Appwork</title>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

	<!-- Icon fonts -->
	<link rel="stylesheet" href="{% static "assets/vendor/fonts/fontawesome.css" %}">
	<link rel="stylesheet" href="{% static "assets/vendor/fonts/ionicons.css" %}">
	<link rel="stylesheet" href="{% static "assets/vendor/fonts/linearicons.css" %}">
	<link rel="stylesheet" href="{% static "assets/vendor/fonts/open-iconic.css" %}">
	<link rel="stylesheet" href="{% static "assets/vendor/fonts/pe-icon-7-stroke.css" %}">

	<!-- Core stylesheets -->
	<link rel="stylesheet" href="{% static "assets/vendor/css/rtl/bootstrap-material.css" %}" class="theme-settings-bootstrap-css">
	<link rel="stylesheet" href="{% static "assets/vendor/css/rtl/appwork-material.css" %}" class="theme-settings-appwork-css">
	<link rel="stylesheet" href="{% static "assets/vendor/css/rtl/theme-corporate-material.css" %}" class="theme-settings-theme-css">
	<link rel="stylesheet" href="{% static "assets/vendor/css/rtl/colors-material.css" %}" class="theme-settings-colors-css">
	<link rel="stylesheet" href="{% static "assets/vendor/css/rtl/uikit.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/custom.css" %}">

	<script src="{% static "assets/vendor/js/material-ripple.js" %}"></script>
	<script src="{% static "assets/vendor/js/layout-helpers.js" %}"></script>

	<!-- Theme settings -->
	<!-- This file MUST be included after core stylesheets and layout-helpers.js in the <head> section
	<script src="{% static "assets/vendor/js/theme-settings.js" %}"></script>
	<script>
		window.themeSettings = new ThemeSettings({
			cssPath: 'assets/vendor/css/rtl/',
			themesPath: 'assets/vendor/css/rtl/'
		});
	</script>
	-->
	<!-- Core scripts -->
	<script src="{% static "assets/vendor/js/pace.js" %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" %}"></script>

	<!-- Libs -->
	<link rel="stylesheet" href="{% static "assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" %}">
	<!-- Page -->

</head>

<body>
<div class="page-loader">
	<div class="bg-primary"></div>
</div>

<!-- Content -->

<nav class="navbar fixed-top navbar-expand-lg bg-white">
	<div class="container">

		<a href="#" class="navbar-brand flex-grow-0 text-large font-weight-bolder line-height-1 py-3 mr-5">
			<img src="{% static "assets/img/logo.png %}"" alt="">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".header-1">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="header-1 navbar-collapse collapse justify-content-center flex-grow-1 mb-4 mb-lg-0">
			<div class="navbar-nav navbar-my-menu">
				<a class="nav-item nav-link active" href="#">Обращения <sup class="text-muted">5</sup></a>
				<a class="nav-item nav-link" href="#">Заказы <sup class="text-muted">2</sup></a>
				<a class="nav-item nav-link" href="#">Каталог</a>
				<a class="nav-item nav-link" href="#">Сотрудники</a>
				<a class="nav-item nav-link" href="#">Настройки</a>
			</div>
		</div>

		<div class="header-1 navbar-collapse collapse justify-content-lg-end flex-grow-0">
			<div class="nav navbar-nav align-items-lg-center">

				<span class="nav-item">1 250 000 ₽</span>
				<!-- Search -->
				<a href="#" class="nav-item nav-link ml-2">
					<span class="badge badge-primary badge-dot indicator"></span>
					<i class="far fa-comments navbar-icon align-middle"></i>

				</a>

				<a class="nav-item nav-link dropdown-toggle hide-arrow ml-lg-2" href="#">
					<span class="badge badge-primary badge-dot indicator"></span>
					<i class="ion ion-md-notifications-outline navbar-icon align-middle"></i>

					<span class="d-lg-none align-middle">&nbsp; Уведомления</span>
				</a>

				<div class="demo-navbar-user nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                  <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
                    <img src="{% static "assets/img/avatars/1.png" alt class="d-block ui-w-30 rounded-circle">
                    <span class="px-1 mr-lg-2 ml-2 ml-lg-0">Иван Никифоров</span>
                  </span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-ios-person text-lightest"></i> &nbsp; My profile</a>
						<a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-ios-mail text-lightest"></i> &nbsp; Messages</a>
						<a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-md-settings text-lightest"></i> &nbsp; Account settings</a>
						<div class="dropdown-divider"></div>
						<a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Log Out</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</nav>

<script>
	$('.header-1 .navbar-search-input > input').on('focus', function() {
		$('.header-1 .navbar-search-box').addClass('active');
	});
	$('.header-1 .navbar-search-cancel').on('click', function(e) {
		e.preventDefault();
		$('.header-1 .navbar-search-box').removeClass('active');
	});
</script>

<!-- / Content -->

<!-- Core scripts -->
<script src="{% static "assets/vendor/libs/popper/popper.js" %}"></script>
<script src="{% static "assets/vendor/js/bootstrap.js" %}"></script>
<script src="{% static "assets/vendor/js/sidenav.js" %}"></script>

<!-- Libs -->
<script src="{% static "assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js" %}"></script>

<!-- Custom -->
<script src="{% static "assets/js/main.js" %}"></script>


</body>

</html>