{% extends "auth_form.html" %}
{% load static %}
{% block title %}<title>Восстановление пароля</title>{% endblock %}

{% block content %}

    <main class="auth-page">
    <div class="dialog">
<a href="/" class="mobile-navigate">
    <svg width="16" height="16">
      <use href="{% static "./images/fill.svg#arrow-left" %}"></use>
    </svg>
    <span class="mobile-navigate__text">Восстановление пароля</span>
  </a>
  <div class="dialog__inner">
    <header>
      <h2 class="form__title">Восстановление пароля</h2>
      {% if validlink %}
      <p class="form__description">
        Введите свой новый пароль дважды:
      </p>
    </header>
    <form class="register-form" method="post">
{% csrf_token %}
     
      
      <div class="input-field">
        <!-- <input id="tel" type="tel" class="validate"> -->
        {{ form.new_password1 }}

        <label for="tel">Пароль</label>
      </div>
      <div class="input-field">
        <!-- <input id="tel" type="tel" class="validate"> -->
        {{ form.new_password2 }} {% for message in form.errors.values %}
                                                        {{ message }}
                                                        {% endfor %}
        <label for="tel">Повторите пароль</label>
      </div>
      <div class="form__button-wrapper">
        <button class="btn waves-effect waves-light btn--primary" type="submit" name="action">
          Сменить пароль
        </button>
      </div>
    </form>
    {% else %}
        <p>Ссылка недейсвительна, возможно она уже была использована. Воспользуйтесь сбросом пароля снова.</p>
    {% endif %}
  </div>
</div>

  </main>
{% endblock %}