{% extends "auth_form.html" %}
{% load static %}
{% block title %}<title> Восстановление пароля</title> {% endblock %}

{% block content %}
<main class="auth-page">
    <div class="dialog">
  <a href="/" class="mobile-navigate">
    <svg width="16" height="16">
      <use href="./images/fill.svg#arrow-left"></use>
    </svg>
    <span class="mobile-navigate__text">Восстановление пароля</span>
  </a>
  <div class="dialog__inner">
    <header>
      <h2 class="form__title">Восстановление пароля</h2>
    </header>
    <p class="form__description">
      Для восстановления пароля вам необходимо ввести адрес вашей
      электронной почты,
      который вы указывали при
      регистрации на сайте.
    </p>
    <form class="repair-form" method="post">
      <div class="input-field">
   <!--      <input id="email" type="email" class="validate"> -->
        {% csrf_token %}
        {{ form.email }}
        <label for="email">Ваш Email</label>
        {% for message in form.errors.values %}
                                                        {{ message }}
                                                        {% endfor %}
      </div>
      <div class="form__button-wrapper">
        <button class="btn waves-effect waves-light btn--primary" type="submit" name="action">
          Восстановить
        </button>
      </div>
    </form>
    <p class="form__description form__description--small">
      Написать в
      <a href="/">Службу технической поддержки</a>.
    </p>
  </div>
</div>

  </main>
   
{% endblock %}