{% extends "auth_form.html" %}
{% load static %}
{% block title %}
{% endblock %}

{% block content %}
  
   <main class="auth-page">
    <div class="dialog">
<a href="/" class="mobile-navigate">
    <svg width="16" height="16">
      <use href="./images/fill.svg#arrow-left"></use>
    </svg>
    <span class="mobile-navigate__text">Восстановление пароля</span>
  </a>
  <div class="dialog__inner">
    <header>
      <h2 class="form__title">Пароль установлен!</h2>
    </header>
    <p class="form__description">
      Вы можете войти по новому паролю.
    </p>
    <div class="form__button-wrapper mt-double">
      <a href="{% url "login" %}" class="btn waves-effect waves-light btn--primary">
        Войти сейчас
      </a>
    </div>
    <p class="form__description form__description--small">
      Написать в
      <a href="/">Службу технической поддержки</a>.
    </p>
  </div>
</div>

  </main>
{% endblock %}