{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="auth-page">
    <div class="dialog">
<a href="/" class="mobile-navigate">
    <svg width="16" height="16">
      <use href="{% static "./images/fill.svg#arrow-left" %}"></use>
    </svg>
    <span class="mobile-navigate__text">Регистрация</span>
  </a>
  <div class="dialog__inner">
    <header>
      <h2 class="form__title">Регистрация</h2>
      <p class="form__description">
        Для регистрации в сервисе РемонтСделан.РФ
        необходимо ввести номер мобильного телефона и адрес
        электронной почты
      </p>
    </header>
    <form class="register-form" method="post">
{% csrf_token %}
      <div class="input-field">
        <!-- <input id="email" type="email" class="validate"> -->
        {{ form.username }}
        <label for="email">Ваш Email</label>
        <span class="helper-text" data-error="Неправильные символы"></span>
        

            											{% for message in form.errors.values %}
                										{{ message }}
            											{% endfor %}
														
      </div>
      <div class="input-field">
        <!-- <input id="tel" type="tel" class="validate"> -->
        {{ form.password1 }}
        <label for="tel">Пароль</label>
      </div>
      <div class="input-field">
        <!-- <input id="tel" type="tel" class="validate"> -->
        {{ form.password2 }}
        <label for="tel">Повторите пароль</label>
      </div>
      <div class="form__button-wrapper">
        <button class="btn waves-effect waves-light btn--primary" type="submit" name="action">
          Зарегистрироваться
        </button>
      </div>
    </form>
    <p class="form__description form__description--small">
      Нажимая кнопку "Зарегистрироваться" вы соглашаетесь с
      <a href="/">условиями Политики конфиденциальности</a>
      и соглашаетесь на обработку персональных данных.
    </p>
    <p class="form__description form__description--small">
      Нажимая кнопку "Зарегистрироваться" вы соглашаетесь с
      <a href="/">Условиями использования сайта</a>.
    </p>
  </div>
</div>

  </main>

													
                                                {% endblock %} 